<!DOCTYPE html>
<html lang=en>
<head>
<meta charset=utf-8>
<title>Reflection</title>
</head>
<body>
<div id="titleBack">
<h1>Concepts</h1>
<p>In this space enter questions or hypothesis which you would like
to see investigated. Try to be unique, and creative. Remember you are not
to yes and no constraints, we can utilise images and sound; and we are
not afraid to push the limits of science and machine learning. So the 
more creative you are the greater the findings and the more we can learn and the
greater the value.
</p>
</div>
<div id="concept-form">
<form action="/reflection/proposal" method="post">
{% csrf_token %}
{{ researchForm }}
<input type="submit" value="Submit Concept">
</form>
</div>
</body>
</html>