<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
<title>Reflection</title>
</head>
<body>
<div id="application-info">
<p>Compulsory fields are marked with an *</p>
<h5>Hypothesis or Question *</h5>
<p>This represents the main aim of the investigation it should concise and easy
to understand</p>
<br>
<h5>Proposed alias for question</h5>
<p>An abbreviated version of the question that we can use to store
in our systems, it will be used behind the scene</p>
<br>
<h5>Details about your question</h5>
<p>In the space below describe any parameters that you believe should be investigated
 in order to achieve the study goals. If you can, detail what approaches you would 
 like to be taken</p>
<br>
<h5>Proposed Topic Area</h5>
<p>All of the questions are associated with a more global topic area, so
that it is easy to find related research.</p>
<h5>Contact Information</h5>
<p>If you like you can give us your e-mail to contact you. We will use this to inform
you if your study is going to be launched, and to inform you of how we are going about
it.</p>
</div>
</body>
</html>