<!DOCTYPE html>
<html>
<head>
<title>Project Review Page</title>
<meta charset=utf-8>
<link href="/static/reflection/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<link href="/static/reflection/css/admin.css" rel="stylesheet"
	type="text/css" />
<script type="text/javascript">
{% autoescape off %}
	var activeData = {{liveData}};
	var dormantData = {{pendingData}};
{% endautoescape %}
</script>
</head>
<body>
	<div id="Title">
		<h1>Project Review Page</h1>
		<br>
		<div class="container-fluid">
			<div class="row">
				<div id="Live" class="col-md-6">
					<!-- Populate with topics in the db -->
					<h3>Live</h3>
					<br>
					<div id="LiveData" class="sunChart">
						<!-- Chart displaying all the live topics -->
					</div>
				</div>
				<div id="Pending" class="col-md-6">
					<!-- Populate with questions in the db -->
					<h3>Pending</h3>
					<br>
					<div id="PendingData" class="sunChart">
						<!-- Will have a chart displaying all the live questions -->
						<!-- Probably something from D3 -->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4" id="searchContainer">
					<label>Search studies: <input id="searchData" list="search"></label>
					<datalist id="search"></datalist>
				</div>
				<div class="col-md-2">
					<label id="detLabel">Details:</label>
				</div>
				<div class="col-md-6">
					<p id="information">To contain default info...</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					 <label id="searchI" for="searchLive">Search Live Topics</label>
					 <input type="checkbox" id="searchLive" checked>
				</div>
				<div class="col-md-6">
					 <label  for="searchPending">Search Pending Topics</label>
					 <input type="checkbox" id="searchPending" checked>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 actionButton">
					<button id="activate" value="Activate" onclick="updateProjectData()">
						<b>Activate</b>
					</button>
				</div>
				<div class="col-md-6 actionButton">
					<button id="deactivate" value="Deactivate" onclick="updateProjectData()">
						<b>Deactivate</b>
					</button>
				</div>
			</div>
			<div class="row actionButton">
			<button id="done" value="done">Done</button>
			</div>
		</div>
	</div>
	{% csrf_token %};
	<script src="/static/reflection/js/reflection.js" type="text/javascript"></script>
	<script src="/static/reflection/js/d3.min.js" type="text/javascript"></script>
	<script src="/static/reflection/js/jquery-3.1.1.js"
		type="text/javascript"></script>
	<script src="/static/reflection/js/bootstrap.js" type="text/javascript"></script>
	<script src="/static/reflection/js/liveData.js" type="text/javascript"></script>
	<script src="/static/reflection/js/pendingData.js"
		type="text/javascript"></script>
</body>
</html>