<!DOCTYPE html>
<html lang=en>
<head>
<meta charset=utf-8>
<title>Reflection</title>
<link href="/static/reflection/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<script type="text/javascript">
{% autoescape off %}
var pendingStudies = {{ pendingStudies }};
{% endautoescape %}
</script>
</head>
<body onload="removePendingStudies()">
	<h1 class="text-center">Project Reflection</h1>
	<div class="row text-center" id="studies">
		<a id="1:1" href="{% url 'genPerGen:dataIn' %}">Gender Perception of Gender</a>
	</div>
	<div class="row" id='moreData'>
		<div class="col-sm-4 text-center">
			<p>If you would like to submit a question or hypothesis to be
				added to the study, enter it below. If its a unique topic we will
				endeavour to answer the question</p>
			<a href="/reflection/newResearchConcept/">Propose new research</a>
		</div>
		<div class="col-sm-4 text-center">
			<p>Would you like to be a contributor to project Reflection?
				Click the link below for more details.</p>
			<a href="/reflection/contribute">Tell me more!</a>
		</div>
		<div class="col-sm-4 text-center">
			<a href="/reflection/admin">Administration Page</a>
		</div>
	</div>
<script src="/static/reflection/js/reflection.js" type="text/javascript"></script>
<script src="/static/reflection/js/jquery-3.1.1.js" type="text/javascript"></script>
<script src="/static/reflection/js/bootstrap.js" type="text/javascript"></script>
</body>
</html>