<!DOCTYPE html>
<html lang=en>
<head>
<meta charset=utf-8>
<title>Reflection</title>
</head>
<body>
<div id='background'>
<p>Project reflection is an open source project which seeks to answer 
questions about who we are, and reveal our society's social attitudes.</p>
</div>
<div id="studies">
<h3>Select a study</h3>
<a href="{% url 'whoAmI:dataIn' %}">Who Am I?</a>
</div>
<div id='moreData'>
<p>If you would like to submit a question or hypothesis to be added to the study,
enter it below. If its a unique topic we will endeavour to answer the question</p>
<form action="propositions()">
<input type="text">
<input type="submit" value="Submit">
</form>
<br/>
<p>Would you like to be a contributor to project Reflection? Click the link below for more details.</p>
<a href="contribute.html">Tell me more!</a>

</div>
</body>
</html>